body {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    padding: 10px;
}

#header_container {

}

#header_top {
    display: flex;
}

#nathan {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#header_name {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    padding-left: 10px;
}

#header_bio {
    max-width: 360px;
}

#header_social {
    display: flex;
    justify-content: center;
}

.social {
    width: 70px;
    height: 70px;
    padding: 0px 10px;
}

.portfolio_entry {
    max-width: 720px;
}

h1 {
    font-family: "Merriweather Sans", sans-serif;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: green;
}

a:active {
    color: green;
}

p {
    font-family: "Merriweather", serif;
}

@media screen and (max-width: 1135px) {
    #header_bio {
        max-width: 700px;
        text-align: center;
    }
    #header_top {
        justify-content: center;
    }
}

/* @media screen and (max-width: 720px) {
    .column {
        flex-basis: 100%;
    }

    #header_bio {
        max-width: none;
        text-align: center;
    }

    .portfolio_entry {
        max-width: none;
    }

} */
